@charset "utf-8";
/* CSS Document */

body{
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 13pt
}

header{
	align-items: center;
	height: 60px;
	line-height: 60px;
	color: black;
	font-family: 'PT Sans', sans-serif;
	font-size: 24pt;
}

.container{
	margin: 120px auto 20px auto;
	width: 80%;
	background-color: white;
	color: black;
	border-radius: 20px;
	font-family: 'PT Sans', sans-serif;
	font-size: 13pt
}

/* Used to pad text within other elements */
span.textPadding{
  margin: 20px;
}

.class-header{
  	height: 5vh;
  	line-height: 10px;
  	min-height: 15px;
	width: 100%;
	min-width: 350px;
	background-color: #e3e3e3;
  	margin: 20px auto;
  	border: 1px solid gray;
  	padding: 30px 0;

	/*Text properties*/
	color: black;
	font-family: 'PT Sans', sans-serif;
	font-size: 20pt;
	
}

.class-header:hover{
	cursor: pointer;
}

.class-header .left{
	float: left;
	width: 10%;
}

.class-header .center{
	float: left;
	text-align: center;
	width: 80%;
}

.class-header .righ{
	float: right;
	text-align: right;
	width: 10%;
}

/* A 'panel' that can be toggled in and out, contains the google chart */
.toggle{
	display: inline-block;
	margin: 0 auto;
}