/*
 * CSS for professor_grading page 
 * Author: LearningUniverse - Joseph Cottongim;
 */ 

th{
	/*border-radius: 10px;*/
	background-color: white;
}

tr{
	background-color: white;
}

tr td:first-child{
	border-radius: 5px 0 0 5px;
}

tr td:last-child{
	border-radius: 0 5px 5px 0;
}

#assignments{
	color: black;
}

#grade-table-wrapper{
	width: 1000px;
	margin: 100px auto;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	padding: 25px;
}

#assignments_filter{
	color: black;
}

.graded{
	background-color: #4CC417;
	border: 1px solid black;
	width: 70px;
}

.ungraded{
	background-color: white;
	border: 1px solid black;
	width: 70px;
}

.ungraded:hover {
	background-color: #e3e3e3;
}

.graded:hover {
	background-color: #4CB317;
}

/* Pop up stuff */
#dim_div{
    background-color: rgba(100, 100, 100, .6);
    display: none;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 1200px;
    z-index: 997;
}