body{
	color: #fff;
}
.myButton {
	border: 1px solid white;
	background-color: white;
	color: black;
	padding: 10px 30px;
	margin-right: 10px;
	font-size: 12pt;
}
.myButton:hover {
	background-color: #979797;
	color: white;
	text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
}
