@import url(http://fonts.googleapis.com/css?family=Average+Sans);

body {
  font-family: 'Average Sans', sans-serif;
  color: #000;
}

.center {
  position: fixed;
  width: 300px;
  height: 500px;
  right: 0px;
  top: 200px;
  margin-left: -150px;
  margin-top: -150px;
  text-align: center;
  z-index: 1005;
}


.center .bottom {
  position: relative;
  right: -300px;
  background: #fff;
  position: relative;
  width: 100%;
  height: 360px;
  -webkit-transition:  right 0.4s ease-in-out;
  -moz-transition:  right 0.4s ease-in-out;
  -ms-transition:  right 0.4s ease-in-out;
  -o-transition:  right 0.4s ease-in-out;
  transition:  right 0.4s ease-in-out;
}

.bottom.open{
  right: 10px;
}

.center .top {
  position: relative;
  width: 100%;
  right: -120px;
  height: 20%;
}

.center .top #orange {
  border-radius: 1px;
  position: relative;
  top: -5%;
  left: 50%;
  margin-left: -25px;
  width: 40px;
  height: 40px;
  background: #FA5D16;
}

.center .top #messagebutton{
  border-radius: 1px;
  position: relative;
  top: 35%;
  left: 30%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
}

#orange img {
  width: 40px;
}

#notification {
    color: #fff;
    position: relative;
    left: 150px;
    top: -57px;
    border-radius: 50%;
    border: 2px solid #FFF;
    width: 25px;
    height: 25px;
    background: #E93B19;
}

#nots {
  color: #fff;
  line-height: 35px;
  width: 100%;
  height: 35px;
  background: #FF4C0C;
  border-bottom: 1px solid rgba(89, 81, 68, 1);
}

#info {
  line-height: 55px;
  width: 100%;
  height: 55px;
  background: rgba(255, 0, 77, 0.8);
  border-bottom: 2px solid rgba(89, 81, 68, 1);
}

.center #feet {
  color: #000;
  width: 100%;
  height: 35px;
  background: #FF4C0C;
}

#sidebar label{
  color: #ffffff;
  background-color: #FA5D16;
  display: block;
  width: auto;
}

#sidebar ul {
 list-style: none;
    padding:0;
    margin:0;
}
 
#sidebar li {
   padding-left: 1em; 
    text-indent: -.7em;
}

#sidebar li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 270px;
}
 
#sidebar li a:hover {  
  background: #f6f6f6;
}

.sweet-alert input[name=message]
{
    display: initial;
    width: auto;
    height: auto;
    margin: auto;
}

.sweet-alert select
{
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;
}

.sweet-alert textarea{
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
    resize: none;
}