/*
 * CSS for every page. 
 */ 
 body{
 	margin: 0px;
 	margin-top: 60px;
 	padding: 0px;
    font-family: sans-serif;
  	background-image: url("../imports/images/maxresdefault.jpg");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
  	min-height: 100vh;
  	background-attachment: fixed;
}

#content {
	background: #BFC7D8 url(drag.png) center 75% no-repeat;
}