/*
 * CSS for every page. 
 */ 
 body{
    margin: 60px 0 0 0;
    font-family: sans-serif;
  	background-image: url("../imports/images/maxresdefault.jpg");
}

#content {
	background: #BFC7D8 url(drag.png) center 75% no-repeat;
}