/*
 * CSS for every page. 
 */ 

 body{
    margin: 70px 0 0 0;
    font-family: sans-serif;
}

/*
* for Snap.js 
*/
.drawers {
    position: absolute;
    width: 300px;
    padding: 15px;
    color: white;
    background-color: #3E3E3C;
}